.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}

.btn.mdb-btn {
  transform: scale(1);
}

.login-container {
  padding: 5%;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
}

.warning-button {
  background-color: #F83C10;
  color: white;
  font-weight: bold;
  text-transform: none;
  border-radius: 5px;
  /* Hover styles */
  &:hover {
    background-color: white; /* Inverted background color on hover */
    color: #F83C10; /* Inverted text color on hover */
  }
  /* Add any other styles you want */
}
.custom-outline-warning {
  box-shadow: 0px 0px 00px rgba(9, 244, 32, 0.2)!important;
  text-transform: none;
  border-radius: 5px;
  font-weight: bold;
  color: #F83C10!important; /* Text color */
  border-color: #F83C10 !important; /* Outline color */
  &:hover {
    background-color: #F83C10!important; /* Inverted background color on hover */
    color: white!important;
    border-color: white !important; /* Inverted text color on hover */
  }
}